body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#e9ebee;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 97%;
}

.flex-item{
  width: 100%;
  margin: 20px;
  border: 2px solid white;
  border-radius: 4px;
  padding-bottom:20px;
}

.categories-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.categories-list-item{
    padding: 20px;
    text-align: left;
}

.posts-list{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.posts-list-item {
    padding: 20px;
    text-align: left;
}

label{
    width: 15%;
    display:inline-block;
}

.post {
    background-color: white;
}

.comments{
    background-color: #f6f7f9;
}

.edit-post{
    margin-right: 8px;
}

.details{
    width: 60% !important;
    margin-left: 20%;
    height: 200px;
    padding-top: 25px;
}

.details > div {
    width: 70%;
    margin-left:35%;
    text-align: left;
    margin-bottom: 12px;
}

.text{
    background-color:transparent !important;
    font-family: 'Helvetica Neue", Helvetica, Arial, sans-serif';
    font-size:12px;
    padding:5px 7px;
    border-radius: 25px;
    width:260px;
    border:2px solid #a1a1a1;
}

.button{
    background-color:#365899;
    color:white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    padding:3px 6px;
}