body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#e9ebee;
}

label{
   margin-bottom: 8px;
}

.editform {
    width: 60%;
    margin:0% 20%;
}
.post {
    background-color: white;
}

.comments{
    background-color: #f6f7f9;
}
.btn{
  margin: 10px 10px;
}

.comment-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

.comment-modal {
    position: absolute;
    top: 40px;
    left: 200px;
    right: 200px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    min-width: 500px;
}

.card{
    width:60%;
    height:100px;
    margin:3% 20% 9% 20%
}

.card-panel{
    width:60%;
    margin: 10% 20%;
    height:30px;
    margin-bottom: -44px;
    margin-top: -30px;
}

.author{
    display: inline-block;
    font-weight:bold;
    white-space:nowrap;
    color: #365899;
}

.comments-nbr{
    font-size: small;
    position:absolute;
    right:20px;
}

.voteScore{
    padding:5px;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.input-field label {
    transition:inherit;
    transform:none;
    margin-bottom:14px;
    padding-bottom:6px;
}

select{
    display: block;
}
